.section_container{
  height: 850px;
}

.text_container{
  margin: 100px 150px;
  color: #3c4043;
}

.domanda{
  margin-top: 30px;
  margin-bottom: 15px;
}
.risposta{
  margin-bottom: 100px;
}

a{
  color: #3742fa;
  cursor: pointer;
}
